.inventory-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.inventory-card{
    border: 1px solid red;
    
}
.inventory-headers {
    display: flex;
    justify-content: space-evenly;
}
.inventory-card h6{ 
    padding: 0;
    margin: 10px;
}

.stuff {
    display: flex;
    justify-content: space-evenly;
}
